.post-container {
	display: block;
	padding-left: 25vw;
	padding-right: 25vw;
  	overflow-wrap: break-word;
  	word-wrap: break-word;
  	-ms-word-break: break-all;
  	word-break: break-word;
  	-ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
